# Stride / Visual Studio
Cache/
_ReSharper*
*.user
*.lock
*.lock.json
*.suo
*.VC.db
*.vshost.exe
*.manifest
*.sdf

# Cache Visual Studio 
.vs/
.suo/
.vsconfig*

# Compilaciones
[Bb]in/
[Oo]bj/
*.apk
*.aab
*.app
*.exe

# Krita
*.png~
*.psd~

# Blender
*.blend1

# LMMS
*.bak
